
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Employee>


<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Employee/GetAllEmployees.css" asp-append-version="true" />
</head>

<h2>Employee</h2>


 <!-- Displays the button to view a single employee -->
@*<div style="display: block">
    <a href="/Employee/ViewSingleEmployee/">View Employee</a>
</div> *@

<!-- Search Bar -->
<form asp-controller="Employee" asp-action="GetAllEmployees" method="get">
    <div class="input-group mb-3">
        <input type="text" name="searchString" class="form-control" placeholder="Search employees..." />
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

@*$1$Search By ID#1#
<form asp-controller="Employee" asp-action="ViewSingleEmployeeById" method="get">
    <div class="input-group mb-3">
        <input type="number" name="id" class="form-control" placeholder="Search employees By Id..." />
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>*@


@*<div style="display: block">
    <a href="/Employee/ViewSingleEmployee/">View Employee</a>
</div>*@

@if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["searchString"]))
{
    <div class="mt-4">
        <a asp-action="GetAllEmployees" class="btn btn-secondary">Back to Full List</a>
    </div>
}


@if (!Model.Any())
{
    <p class="text-center text-bg-danger mt-5 p-4 ">No employees found.</p>
}
else
    
{
    <div id="wrapper">
        <table class="table-responsive-sm text-nowrap">
            <thead class="sticky-top">
                <tr>
                    @*<th class=" px-2">ID</th>*@
                    <th class="px-2">
                    <a asp-action="GetAllEmployees" asp-route-sortOrder="@ViewBag.IdSortParm">
                        ID
                    </a>
                    <th class=" px-2">First Name</th>
                    <th class=" px-2">Middle Name</th>
                    <th class=" px-2">Last Name</th>
                    <th class=" px-2">Birth Month</th>
                    <th class=" px-2">Birth Day</th>
                    <th class=" px-2">Birth Year</th>
                    <th class=" px-2">Age</th>
                    <th class=" px-2">Phone Number</th>
                    <th class=" px-2">Email Address</th>
                    <th class=" px-2">Home Address</th>
                    <th class=" px-2">Pay Rate</th>
                    <th class=" px-2">Department</th>
                    <th class=" px-2">Hours Worked</th>
                </tr>
            </thead>

            @foreach (var employeesInList in Model)
            {
                <tr>
                    <td>
                        <a href="/Employee/ViewSingleEmployee/@employeesInList.EmployeeId">@employeesInList.EmployeeId</a>
                    </td>
                    <td class="border-end text-start px-2">@employeesInList.FirstName</td>
                    <td class="border-end text-start px-2">@employeesInList.MiddleName</td>
                    <td class="border-end text-start px-2">@employeesInList.LastName</td>
                    <td class="border-end px-2">@employeesInList.BirthMonth</td>
                    <td class="border-end px-2">@employeesInList.BirthDay</td>
                    <td class="border-end px-2">@employeesInList.BirthYear</td>
                    <td class="border-end px-2">@employeesInList.Age</td>
                    <td class="border-end px-2">@employeesInList.PhoneNumber</td>
                    <td class="border-end text-start px-2">@employeesInList.EmailAddress</td>
                    <td class="border-end text-start px-2">@employeesInList.HomeAddress</td>
                    <td class="border-end px-2">@employeesInList.PayRate</td>
                    <td class="border-end text-start px-2">@employeesInList.EmployeeDepartment</td>
                    <td class="border-end px-2">@employeesInList.HoursWorked</td>
                </tr>
            }
        </table>
    </div>
}

