@using Org.BouncyCastle.Asn1.Ocsp
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeeProject.ViewModels.EmployeeViewModel

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Employee/GetAllEmployees.css" asp-append-version="true" />
</head>

<h2>Employee</h2>

<!-- Displays the button to view a single employee -->
<div style="display: block">
    <a href="/Employee/ViewSingleEmployee/">View Employee</a>
</div>

<!-- Search Bar -->
<form asp-controller="Employee" asp-action="GetAllEmployees" method="get">
    <div class="input-group mb-3">
        <input type="text" name="searchString" class="form-control" placeholder="Search employees..." />
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

@*Search By ID*@
<form asp-controller="Employee" asp-action="ViewSingleEmployeeById" method="get">
    <div class="input-group mb-3">
        <input type="number" name="id" class="form-control" placeholder="Search employees By Id..." />
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>


<div style="display: block">
    <a href="/Employee/ViewSingleEmployee/">View Employee</a>
</div>

@if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["searchString"]))
{
    <div>
        <a asp-action="GetAllEmployees" class="btn btn-secondary">Back to Full List</a>
    </div>
}


<div id="wrapper">
    <table class="table-responsive-sm text-nowrap">
        <thead class="sticky-top">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Birth Month</th>
                <th>Birth Day</th>
                <th>Birth Year</th>
                <th>Age</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Home Address</th>
                <th>Pay Rate</th>
                <th>Department</th>
                <th>Hours Worked</th>
            </tr>
        </thead>

        @foreach (var employeesInList in Model.Employees)
        {
            <tr>
                <td>
                    <a href="/Employee/ViewSingleEmployee/@employeesInList.EmployeeId">@employeesInList.EmployeeId</a>
                </td>
                <td class="border-end text-start ps-2">@employeesInList.FirstName</td>
                <td class="border-end text-start ps-2">@employeesInList.MiddleName</td>
                <td class="border-end text-start ps-2">@employeesInList.LastName</td>
                <td class="border-end">@employeesInList.BirthMonth</td>
                <td class="border-end">@employeesInList.BirthDay</td>
                <td class="border-end">@employeesInList.BirthYear</td>
                <td class="border-end">@employeesInList.Age</td>
                <td class="border-end">@employeesInList.PhoneNumber</td>
                <td class="border-end text-start ps-2">@employeesInList.EmailAddress</td>
                <td class="border-end text-start ps-2">@employeesInList.HomeAddress</td>
                <td class="border-end">@employeesInList.PayRate</td>
                <td class="border-end text-start ps-2">@employeesInList.EmployeeDepartment</td>
                <td class="border-end">@employeesInList.HoursWorked</td>
            </tr>
        }
    </table>
</div>