@using Org.BouncyCastle.Crypto.Engines
@model Employee

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Employee/GetAllEmployees.css" asp-append-version="true" />
</head>

<h3 class="mt-5 mb-3">Employee Information</h3>



<div>
    <table class="table-responsive-sm text-nowrap mb-3">
        <thead>
            <tr>
                <th>ID</th>
                <th class=" px-2">First Name</th>
                <th class=" px-2">Middle Name</th>
                <th class=" px-2">Last Name</th>
                <th class=" px-2">Birth Month</th>
                <th class=" px-2">Birth Day</th>
                <th class=" px-2">Birth Year</th>
                <th class=" px-2">Age</th>
                <th class=" px-2">Phone Number</th>
                <th class=" px-2">Email Address</th>
                <th class=" px-2">Home Address</th>
                <th class=" px-2">Pay Rate</th>
                <th class=" px-2">Department</th>
                <th class=" px-2">Hours Worked</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border-end px-4">@Model.EmployeeId</td>
                <td class="border-end px-4">@Model.FirstName</td>
                <td class="border-end px-4">@Model.MiddleName</td>
                <td class="border-end px-4">@Model.LastName</td>
                <td class="border-end px-4">@Model.BirthMonth</td>
                <td class="border-end px-4">@Model.BirthDay</td>
                <td class="border-end px-4">@Model.BirthYear</td>
                <td class="border-end px-4">@Model.Age</td>
                <td class="border-end px-4">@Model.PhoneNumber</td>
                <td class="border-end px-4">@Model.EmailAddress</td>
                <td class="border-end  px-4">@Model.HomeAddress</td>
                <td class="border-end px-4">@Model.PayRate</td>
                <td class="border-end px-4">@Model.EmployeeDepartment</td>
                <td class="border-end px-4">@Model.HoursWorked</td>
            </tr>
                
        </tbody>

    </table>
</div>

@*$1$<div class="mb-3" style="display: block">
    <a href="/Employee/UpdateEmployee/@Model.EmployeeId">Update this Employee</a>
</div>#1#


<div style="display: block">
    @#1#using (Html.BeginForm("UpdateEmployeeToDatabase", "Employee", "Get"))
    {
        <input type="hidden" asp-for="EmployeeId" value="@Model.EmployeeId" />
        <input type="submit"  value="Update this Employee" />
    }#1#
    <div class="mb-3" style="display: block">
        <a href="/Employee/UpdateEmployee/@Model.EmployeeId">Update this Employee</a>
    </div>
</div>

$1$Good Delete Below#1#

<div style="display: block">

    @using (Html.BeginForm("DeleteEmployee", "Employee", "Post"))
    {
        <input type="hidden" asp-for="EmployeeId" value="@Model.EmployeeId" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this Employee" />
    }
</div>*@

<div style="display: block">
    <div class="mb-3" style="display: block">
        <a href="/Employee/UpdateEmployee/@Model.EmployeeId" class="btn btn-dark" style="background-color:steelblue">Update this Employee</a>
    </div>
</div>

<div  style="display: block">
    <form asp-action="DeleteEmployee" asp-controller="Employee" method="post" style="display:inline;">
        <input type="hidden" asp-for="EmployeeId" value="@Model.EmployeeId" />
        <input type="submit" value="Delete this Employee" class="btn btn-dark" style="background-color:crimson" />
    </form>
</div>